<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catálogo de productos</title>
    <link rel="stylesheet" th:href="@{/estilos.css}" />
</head>
<body>
    <header>
        <h1>Mi Tienda Online</h1>
        <nav>
            <ul>
                <li><a href="#" th:href="@{/}">Inicio</a></li>
                <li><a href="#" th:href="@{/productos}">Productos</a></li>
                <li><a href="#" th:href="@{/form/producto}">Añadir productos</a></li>
                <li><a href="#" th:href="@{/cart}">Ver carrito</a></li>
                <!--            <li><a href="#" th:href="@{/}">Carrito</a></li>-->
            </ul>
        </nav>
    </header>
        <ul>
            Lista de productos
            <li th:each="producto : ${allProductos}">
                <span th:text="${producto.name}">Nombre Producto</span>
                <span th:text="${producto.price}">Precio Producto</span>
                <form th:action="@{/api/products/delete/{id}(id=${producto.id})}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Eliminar</button>
                </form>
                <form th:action="@{/cart}" th:object="${product}" method="post" style="display:inline;">
                    <input type="hidden" name="id" th:value="${producto.id}" />
                    <input type="hidden" name="name" th:value="${producto.name}" />
                    <input type="hidden" name="price" th:value="${producto.price}" />
                    <button type="submit">Añadir al carrito</button>
                </form>
            </li>
        </ul>
    </body>
</html>